<%= content_for(:title, "Contact us") %>

<div class="large-9 large-centered columns">

	<div class="text">
		<p>Email: <a href="mailto:editor@disabilityhorizons.com"> editor@disabilityhorizons.com</a> </p>
		<p>Twitter: <a href="https://twitter.com/DHorizons">@dhorizons</a></p>
		<p>Facebook: <a href="https://www.facebook.com/disabilityhorizons">https://www.facebook.com/disabilityhorizons</a> </p>
		</div>

</div>