<%= content_for(:title, "FAQ") %>

<div class="large-9 large-centered columns">

	<div class="text">
		<h4>1. What is DHAnswers? </h4>
		<p>DHAnswers is a service to allow disabled people to post questions and discover answers to problems or queries. The community vets answers through up and downvoting</p>

		<p>Users are provided with a score that reflects the number of answers that have been upvoted and downvoted. Users with a higher score have a reputation providing answers that the community believes is high quality</p>

		<h4>2. Why do I need to login with Facebook?</h4>
		<p>We're a small organisation and haven't the resources to pro-reactively moderate questions and answers. Therefore, we require anybody posting or answering a question to be identifiable</p>

		<p>However, should you wish to post anonymously, please contact editor@disabilityhorizons.com</p>	

		<h4>3. If I login with Facebook, do you get access to my profile or personal details such as passwords?</h4>
		No. These are all handled by Facebook. We don't store any passwords on our system; we just receive a confirmation from Facebook that your username and password is correct.
	</div>

</div>