<div class="top-bar">
	<div id="banner" class="row">
		<div class="large-12 columns">
			<h1>DHAnswers</h1>	
		</div>
	</div>
</div>

<div id="hometext" class="row">
	<div class="large-6 columns">
		<h2>Top contributors</h2>

		<% @userlist.each do |user| %>

		<div class="item">
			<p><%= user.name %></p>
		</div>
		<%end%>
	</div>	

	<div class="large-6 columns">
		<h2>Latest questions</h2>
			<% @posts.each do |post| %>
			<div class="item">
		  		
		  		<%= post.title %>

		  </div>
		  <%end%>

	</div>

</div>