<%= content_for(:title, "Edit question") %>

<div class="row">
	<div class="large-12 columns">

	<%= render 'form' %>

	<%= link_to 'Show', @post %> |
	<%= link_to 'Back', posts_path %>
	</div>
</div>
